<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>汇播.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
				<key>dateExpires</key>
				<string>2021/10/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>apple_sign_in.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>city_pickers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_app_upgrade.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inapp_purchase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>74CFEBB5074E8B3F2CCE718641BAD1802EE1FA78</string>
						<key>dateExpires</key>
						<string>2021/10/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A392QG4T3Q</string>
						<key>name</key>
						<string>fang he</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A392QG4T3Q.huiboapp.ansha</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:huicheng.anshapro.com/</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>A392QG4T3Q</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>af133f43-9dcb-43e5-ac30-cc1ed85d3306</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: huiboapp.ansha</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A392QG4T3Q</string>
				<key>name</key>
				<string>fang he</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
